<main class="container">
    <section class="about">
        <img src="{{ "/assets/src/stony2.png" | relative_url }}" alt="{{ site.author }}">
        <h2>{{ site.author }}</h2>
        <p class="tagline">{{ site.tagline }}</p>
        <ul class="social">
            <a href="https://github.com/{{ site.author }}"><li><i class="icon fa fa-github-alt" aria-hidden="true"></i></li></a>
            <a href="mailto:{{ site.email }}"><li><i class="icon fa fa-envelope" aria-hidden="true"></i></li></a>
            <!-- <a href=""><li><i class="icon fa fa-user" aria-hidden="true"></i></li></a>
            <a href=""><li><i class="icon fa fa-user" aria-hidden="true"></i></li></a> -->
        </ul>
        <p>&copy; 2019</p>
    </section>
</main>